@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?j4w3bc');
  src:  url('fonts/icomoon.eot?j4w3bc#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?j4w3bc') format('truetype'),
    url('fonts/icomoon.woff?j4w3bc') format('woff'),
    url('fonts/icomoon.svg?j4w3bc#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-heart:before {
  content: "\e900";
}
.icon-cloud:before {
  content: "\e901";
}
.icon-star:before {
  content: "\e902";
}
.icon-tv:before {
  content: "\e903";
}
.icon-key:before {
  content: "\e904";
}
.icon-camera:before {
  content: "\e905";
}
.icon-bulb:before {
  content: "\e906";
}
.icon-diamond:before {
  content: "\e907";
}
.icon-eye:before {
  content: "\e908";
}
.icon-clock:before {
  content: "\e909";
}
.icon-paperplane:before {
  content: "\e90a";
}
.icon-lab:before {
  content: "\e90b";
}
.icon-fire:before {
  content: "\e90c";
}
.icon-world:before {
  content: "\e90d";
}
